# List

In [1]:
l = [1, 2, 3, 4, 5, "sunil", 45, 67, True, False]

List is a datatype which can store heterogenous data with same indexing as string.

In [2]:
l[1]

2

In [3]:
l[-1]

False

In [4]:
l[2:4]

[3, 4]

In [5]:
l[::-1]

[False, True, 67, 45, 'sunil', 5, 4, 3, 2, 1]

In [6]:
len(l)

10

In [7]:
l.copy()

[1, 2, 3, 4, 5, 'sunil', 45, 67, True, False]

In [8]:
l.append()

TypeError: list.append() takes exactly one argument (0 given)

In [9]:
l

[1, 2, 3, 4, 5, 'sunil', 45, 67, True, False]

In [10]:
l[0:100:2]

[1, 3, 5, 45, True]

In [11]:
l[-1::]

[False]

In [12]:
l[-1::-1]

[False, True, 67, 45, 'sunil', 5, 4, 3, 2, 1]

In [13]:
l[-1::1]

[False]

In [14]:
l[0:100:-1]

[]

In [15]:
l + "sunil"

TypeError: can only concatenate list (not "str") to list

In [16]:
l1 = ["sunil"]

In [17]:
l + l1

[1, 2, 3, 4, 5, 'sunil', 45, 67, True, False, 'sunil']

In [18]:
l + ["sunil"]

[1, 2, 3, 4, 5, 'sunil', 45, 67, True, False, 'sunil']

In [19]:
l * 2

[1,
 2,
 3,
 4,
 5,
 'sunil',
 45,
 67,
 True,
 False,
 1,
 2,
 3,
 4,
 5,
 'sunil',
 45,
 67,
 True,
 False]

In [20]:
l/2

TypeError: unsupported operand type(s) for /: 'list' and 'int'

In [21]:
"sunil" in l

True

In [22]:
"maha" in l

False

Hence, in is an operator to check a data in list. It returns a boolean value.

In [23]:
max(l)

TypeError: '>' not supported between instances of 'str' and 'int'

In [24]:
l2 = [1,2,3,4,5]

In [25]:
max(l2)

5

In [26]:
min(l2)

1

In [27]:
l3 = ["sun", "mercury", "neptune"]

In [28]:
max(l3)

'sun'

In [29]:
min(l3)

'mercury'

Hence, min and max are functions to check the maximum and minimum value of a list only if it contains same datatype datas.

In [30]:
l

[1, 2, 3, 4, 5, 'sunil', 45, 67, True, False]

In [31]:
l.append("maharana")

In [32]:
l

[1, 2, 3, 4, 5, 'sunil', 45, 67, True, False, 'maharana']

Hence, append adds a dataset at the last end of the list.

In [33]:
l.append([1,2,3,4,5])

In [34]:
l

[1, 2, 3, 4, 5, 'sunil', 45, 67, True, False, 'maharana', [1, 2, 3, 4, 5]]

We can append even a list inside a given list

In [35]:
l.pop()

[1, 2, 3, 4, 5]

In [36]:
l

[1, 2, 3, 4, 5, 'sunil', 45, 67, True, False, 'maharana']

In [37]:
l.pop()

'maharana'

In [38]:
l

[1, 2, 3, 4, 5, 'sunil', 45, 67, True, False]

Hence, we can see that pop removes a dataset at the end of the list. Hence, by default, it the dataset at index -1. But a specific index number can also be given to remove that particular dataset.

In [39]:
l

[1, 2, 3, 4, 5, 'sunil', 45, 67, True, False]

In [40]:
l.pop(0)

1

In [41]:
l

[2, 3, 4, 5, 'sunil', 45, 67, True, False]

Hence, we can see that after specifying the index inside the pop, it removes that particular data only.

In [42]:
l.reverse()

In [43]:
l

[False, True, 67, 45, 'sunil', 5, 4, 3, 2]

In [44]:
l[::-1]

[2, 3, 4, 5, 'sunil', 45, 67, True, False]

In [45]:
l

[False, True, 67, 45, 'sunil', 5, 4, 3, 2]

reverse is a docstring of list, which permanently reverses the list. To do this same operation through an indexing, it is only possible through assignment.

In [46]:
l.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [47]:
l1

['sunil']

In [48]:
l2

[1, 2, 3, 4, 5]

In [49]:
l3

['sun', 'mercury', 'neptune']

In [50]:
l3.sort()

In [51]:
l3.

SyntaxError: invalid syntax (390162144.py, line 1)

In [52]:
l3

['mercury', 'neptune', 'sun']

Hence, sort docstring sorts the dataset in an ascending order as a default only if the dataype of the dataset in a list is same.

In [53]:
l3.sort(reverse = True)

In [54]:
l3

['sun', 'neptune', 'mercury']

using reverse = True as an argument inside sort, we can sort the dataset by descending order.

In [55]:
l1 = [1,2,3]
l2 = [4,5,6]
l3 = [7,8,9]

In [56]:
l4 = [l1, l2, l4]

NameError: name 'l4' is not defined

In [57]:
l4 = [l1,l2,l3]

In [58]:
l4

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In this also using indexing, we can extract data.

In [59]:
l4[2]

[7, 8, 9]

In [60]:
l4[2][1]

8

In [61]:
l

[False, True, 45, 67, 'sunil', 5, 4, 3, 2]

In [62]:
l.reverse()

In [63]:
l

[2, 3, 4, 5, 'sunil', 67, 45, True, False]

In [64]:
l.count()

TypeError: list.count() takes exactly one argument (0 given)

In [65]:
l.count(True)

1

In [66]:
l.count(4)

1

Hence, count counts the argument dataset in a given list and returns a result in a numeric format.

In [67]:
l4

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [68]:
l4.count([2][9])

IndexError: list index out of range

In [69]:
l4.count([1,2,3])

1

In [70]:
l

[2, 3, 4, 5, 'sunil', 67, 45, True, False]

In [71]:
l.append([1,2,3])

In [72]:
l

[2, 3, 4, 5, 'sunil', 67, 45, True, False, [1, 2, 3]]

In [73]:
l2

[4, 5, 6]

In [74]:
l2.append([4,5,6])

In [75]:
l2

[4, 5, 6, [4, 5, 6]]

In [76]:
l2.append("sunil")

In [77]:
l2

[4, 5, 6, [4, 5, 6], 'sunil']

In [78]:
l2.extend("sunil")

In [79]:
l2

[4, 5, 6, [4, 5, 6], 'sunil', 's', 'u', 'n', 'i', 'l']

In [80]:
l2.extend(45)

TypeError: 'int' object is not iterable

Hence, append will add the dataset as it is but extend will add the each element one by one.

In [82]:
l2.extend(45, 46)

TypeError: list.extend() takes exactly one argument (2 given)

In [83]:
l2.extend([45, 46])

In [84]:
l2

[4, 5, 6, [4, 5, 6], 'sunil', 's', 'u', 'n', 'i', 'l', 45, 46]

In [85]:
l2.extend("Maharana")

In [86]:
l2

[4,
 5,
 6,
 [4, 5, 6],
 'sunil',
 's',
 'u',
 'n',
 'i',
 'l',
 45,
 46,
 'M',
 'a',
 'h',
 'a',
 'r',
 'a',
 'n',
 'a']

In [87]:
l2.pop()

'a'

In [88]:
l2.pop([-1:-7])

SyntaxError: invalid syntax (3860600933.py, line 1)

In [89]:
l2.index(3)

ValueError: 3 is not in list

In [90]:
l2.index(a)

NameError: name 'a' is not defined

In [91]:
l2.index("a")

13

Hence, index provides the index of a dataset and it considers the first position at which it encounters that particular dataset.

In [92]:
l5

NameError: name 'l5' is not defined

In [93]:
l5 = [1,2,3,4]

In [94]:
l5.append(45)

In [95]:
l5

[1, 2, 3, 4, 45]

In [96]:
l5.insert(2, [1,2,3,4])

In [97]:
l5

[1, 2, [1, 2, 3, 4], 3, 4, 45]

In [98]:
l5.insert(4, "sunil")

In [99]:
l5

[1, 2, [1, 2, 3, 4], 3, 'sunil', 4, 45]

In [101]:
l5.pop()

45

In [102]:
l5

[1, 2, [1, 2, 3, 4], 3, 'sunil', 4]

In [103]:
l5.pop(2)

[1, 2, 3, 4]

In [104]:
l5

[1, 2, 3, 'sunil', 4]

In [105]:
l5.pop(3)

'sunil'

In [106]:
l5

[1, 2, 3, 4]

In [107]:
l.remove(100)

ValueError: list.remove(x): x not in list

In [108]:
l.remove(2)

In [109]:
l5.remove(3)

In [110]:
l5

[1, 2, 4]

Hence, pop removes the value at the specified index while remove extracts the value at the first occurance.

In [111]:
l = [1,2,3,4,5]

In [112]:
l

[1, 2, 3, 4, 5]

In [113]:
l[2]

3

In [114]:
l[2] = "sunil"

In [115]:
l

[1, 2, 'sunil', 4, 5]

Hence, item reassignment can be done inside a memory.

In [116]:
s = "Sunil"

In [117]:
s[1]

'u'

In [118]:
s[1] = "e"

TypeError: 'str' object does not support item assignment

Hence, list supports item assignment inside a memory but string doesn't.

Reason behind this is string is immutable while list is mutable.

Mutable = Item reassignment possible = list

Immutable = Item reassignment not possible = string

"HEHEHEHEHEH: My code, my rule"

# Tuples

Tuples are created in a normal bracket. It is also immutable just like string. It can store heterogeneous datasets.

In [120]:
t = (4,5,6,7,"sunil", 45, 57, True)

In [121]:
t

(4, 5, 6, 7, 'sunil', 45, 57, True)

In [122]:
type(t)

tuple

Hence, tuple is a datatype.

Data extraction can be done using indexing just like list or string.

In [123]:
t[2]

6

In [124]:
t[-1:-3]

()

In [125]:
t[-1:-3:-1]

(True, 57)

In [126]:
t[::-1]

(True, 57, 45, 'sunil', 7, 6, 5, 4)

In [127]:
t

(4, 5, 6, 7, 'sunil', 45, 57, True)

In [128]:
t[0:6:2]

(4, 6, 'sunil')

In [129]:
t

(4, 5, 6, 7, 'sunil', 45, 57, True)

In [130]:
t[2]

6

In [131]:
t[2] = "sunil"

TypeError: 'tuple' object does not support item assignment

Hence, as mentioned above, tuple is immutable as it doesn't support item assignment.

Hence, if we to make a collection which no one can change, then creating tuples is the answer.

In [132]:
t

(4, 5, 6, 7, 'sunil', 45, 57, True)

In [133]:
t1 = (1,32,45)

In [134]:
t + t1

(4, 5, 6, 7, 'sunil', 45, 57, True, 1, 32, 45)

Hence, in a runtime, we can concatinate two tuples as it not overwriting the existing tuples.

w.r.t. tuples, only two functions are avilable i.e., count and index.

In [135]:
t.count(4)

1

In [136]:
t.count(3)

0

In [137]:
t.count(45)

1

In [138]:
t = t + t1

In [139]:
t

(4, 5, 6, 7, 'sunil', 45, 57, True, 1, 32, 45)

This one works in tuples because we are changing the entire tuples and not just chaning the index value.

In [141]:
t.index("sunil")

4

In [142]:
t.index(45)

5

index function give the index of the value at its first occourance.

In [144]:
t2 = (2,3,4,"sunil")

In [145]:
list(t2)

[2, 3, 4, 'sunil']

In [146]:
t2

(2, 3, 4, 'sunil')

In [147]:
t2 = list(t2)

In [148]:
t2

[2, 3, 4, 'sunil']

In [150]:
l5

[1, 2, 4]

In [151]:
l5 = tuple(l5)

In [152]:
l5

(1, 2, 4)

In [153]:
t2

[2, 3, 4, 'sunil']

In [154]:
str(t2)

"[2, 3, 4, 'sunil']"

In [155]:
str(l5)

'(1, 2, 4)'

    Hence, we can convert a list or tuple or string into each other and vise versa.

# Dictionary

Dictionaries are formed inside curly bracket.

In [157]:
d = {}

In [158]:
type(d)

dict

Hence, dict is a data type in python just like string, list and tuple

In [159]:
d1 = {1,2,3}

In [160]:
d1

{1, 2, 3}

In [161]:
type(d1)

set

Hence, if there a blank dataset inside a curly bracket then it forms dictionary and if it contains even a single value then it forms set datatype.

It means symbol for both dictionary and set is same.

In [162]:
d2 = {'key1' : "value", 234 : "xyz", "name" : "sunil", "no" : 32462}

In [163]:
d2

{'key1': 'value', 234: 'xyz', 'name': 'sunil', 'no': 32462}

In [164]:
type(d2)

dict

Hence, dictionary = key:value is required.

# Data extraction in Dictionary

Data can be extraced from a dictionary passing key.

For example:

In [165]:
d2['key1']

'value'

Hence, key works as an index to extract a value from the dictionary.

In [168]:
d3 = {'name': 'sunil', 'tech': ["python", "ML", "DL", "NLP", "CV", "Big Data", "Data Analytics"]}

In [169]:
d3

{'name': 'sunil',
 'tech': ['python', 'ML', 'DL', 'NLP', 'CV', 'Big Data', 'Data Analytics']}

In [170]:
d3['name']

'sunil'

In [172]:
'python' in d3['tech']

True

In [173]:
d4 = {'name': 'Sunil', 'contact_info': 123456, 'name': 'sugna'}

In [174]:
d4

{'name': 'sugna', 'contact_info': 123456}

So in case of a dictionary, values can be anything from a dictionary, list, tuple, string but key should be unique.

It doesn't say anything but it will take the value of the key which occur at the last.

# Item assignment in Dictionary

In [176]:
d4

{'name': 'sugna', 'contact_info': 123456}

In [177]:
d4['name'] = "sunil"

In [178]:
d4

{'name': 'sunil', 'contact_info': 123456}

In [179]:
d4['name1'] = "sugna"

In [180]:
d4

{'name': 'sunil', 'contact_info': 123456, 'name1': 'sugna'}

Hence, if the key is not present in the dictionary, it adds the new key and its value to the dictionary. This way, we can add as much key and its respective values in a dictionary.

So overwrite and addition can be done very easliy.

# Hence dictionary is mutable

In [182]:
d2

{'key1': 'value', 234: 'xyz', 'name': 'sunil', 'no': 32462}

In [183]:
d4['k2'] = d2

In [184]:
d4

{'name': 'sunil',
 'contact_info': 123456,
 'name1': 'sugna',
 'k2': {'key1': 'value', 234: 'xyz', 'name': 'sunil', 'no': 32462}}

In [185]:
d4['k2']

{'key1': 'value', 234: 'xyz', 'name': 'sunil', 'no': 32462}

In [187]:
d4['k2'][234]

'xyz'

In [188]:
d5 = {@ : "sunil"}

SyntaxError: invalid syntax (2957620311.py, line 1)

In [189]:
d5 = {_ : "sunil"}

In [190]:
d5

{'xyz': 'sunil'}

Hence, underscore is allowed as a key but special characters like @,%, etc are not allowed.

In [192]:
d6 = {(1,2,3) : "sunil"}

In [193]:
d7 = {[1,2,3] : "sunil"}

TypeError: unhashable type: 'list'

In [194]:
d8 = {{3:4} : "sunil"}

TypeError: unhashable type: 'dict'

Hence, key = string, numeric, tuple but not list, dictionary

In [195]:
d2

{'key1': 'value', 234: 'xyz', 'name': 'sunil', 'no': 32462}

In [196]:
d3

{'name': 'sunil',
 'tech': ['python', 'ML', 'DL', 'NLP', 'CV', 'Big Data', 'Data Analytics']}

In [197]:
d2 + d3

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

 Concatination of dictionaries is not allowed.

In [198]:
d2.keys()

dict_keys(['key1', 234, 'name', 'no'])

In [199]:
type(d2.keys())

dict_keys

In [200]:
d2.values()

dict_values(['value', 'xyz', 'sunil', 32462])

In [201]:
d2.items()

dict_items([('key1', 'value'), (234, 'xyz'), ('name', 'sunil'), ('no', 32462)])

# Set

In [202]:
s = {2,3,4,5}

In [203]:
s

{2, 3, 4, 5}

In [204]:
type(s)

set

In [205]:
s1 = {4,5,3,5,3,2,6,4,3,5}

In [206]:
s1

{2, 3, 4, 5, 6}

Hence, sets only contains the single dataset and doesn't contain the repeated data.

Hence, it only keep unique data set. This can be used to pass a data set where removal of repeated entities is required.

In [208]:
s2 = {32456, 125, 125, 85, 363, 9}

In [209]:
s2

{9, 85, 125, 363, 32456}

In [211]:
s3 = {'sunil', 125, 'sugna', 25312}

In [212]:
s3

{125, 25312, 'sugna', 'sunil'}

Hence, set form a sorting operation in ascending order only if the datatype of the datasets inside the set is same.

In [213]:
s3[0]

TypeError: 'set' object is not subscriptable

This is happening because the dataset is arranged randomly. Hence, it doesn't provide index to the dataset.

This can be done by converting the set into list or tuples.

First a dataset can be passed through a set to remove the duplicate datasets. After doing so, we can convert the set into a list and then we can perfrom the operations possible in a list.

In [214]:
list(s3)

[25312, 'sunil', 125, 'sugna']

In [215]:
s3

{125, 25312, 'sugna', 'sunil'}

In [216]:
tuple(s3)

(25312, 'sunil', 125, 'sugna')

In [218]:
s4 = {2,3,4,3,3,3,3,33,3,3,3,3,3,3,3,5,5,5,3,2,2,2,2}

In [219]:
s4

{2, 3, 4, 5, 33}

In [220]:
s4 = list(s4)

In [221]:
s4

[33, 2, 3, 4, 5]

In [222]:
s4.sort()

In [223]:
s4

[2, 3, 4, 5, 33]

In [224]:
s4 = set(s4)

In [225]:
s4

{2, 3, 4, 5, 33}

In [226]:
s4.add(25)

In [227]:
s4

{2, 3, 4, 5, 25, 33}

In [228]:
s4([1,2,3])

TypeError: 'set' object is not callable

Hence, set only add each data one by one

In [230]:
s5 = {(4,5,6), 4, 5}

In [231]:
s5

{(4, 5, 6), 4, 5}

In [232]:
s6 = {[2,3,4], 4, 5}

TypeError: unhashable type: 'list'

Hence, we can add only immutable datatype inside a set. Mutable datatype can't be added.

In [233]:
s6

NameError: name 's6' is not defined

In [234]:
s5

{(4, 5, 6), 4, 5}

In [235]:
s5.remove(4)

In [236]:
s5

{(4, 5, 6), 5}

In [237]:
s5.add(4)

In [238]:
s5

{(4, 5, 6), 4, 5}

In [239]:
s5.discard(6)

In [240]:
s5.remove(6)

KeyError: 6

Hence, discard removes it from the set if the element is present or else leaves it while remove gives error if it doesn't have that element inside a set.

# Questions

In [ ]:
#Questions 

l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]
1 . Try to reverse a list 
2. try to access 234 out of this list 
3 . try to access 456 
4 . Try to extract only a list collection form list l 
5 . Try to extract "sudh"
6 . Try to list all the key in dict element avaible in list 
7 . Try to extract all the value element form dict available in list

In [242]:
l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]

In [243]:
l.reverse()

In [244]:
l

[{'key1': 'sudh', 234: [23, 45, 656]},
 (234, 6657, 6),
 [345, 56, 87, 8, 98, 9],
 [23, 456, 67, 8, 78, 78],
 7,
 6,
 5,
 4,
 3]

In [245]:
l.reverse()

In [246]:
l

[3,
 4,
 5,
 6,
 7,
 [23, 456, 67, 8, 78, 78],
 [345, 56, 87, 8, 98, 9],
 (234, 6657, 6),
 {'key1': 'sudh', 234: [23, 45, 656]}]

In [247]:
l[7][0]

234

In [248]:
l[5][1]

456

In [249]:
l[1:2]

[4]

In [251]:
l[5:7]

[[23, 456, 67, 8, 78, 78], [345, 56, 87, 8, 98, 9]]

In [252]:
l[8]['key1']

'sudh'

In [253]:
l2 = l[8]

In [254]:
l2

{'key1': 'sudh', 234: [23, 45, 656]}

In [255]:
type(l2)

dict

In [256]:
l2.keys()

dict_keys(['key1', 234])

In [257]:
l2.values()

dict_values(['sudh', [23, 45, 656]])