# Conditional Statements

# If, if - else, if - el-if - else statement

In [5]:
a = 10
if a == 10 :
    print("this is my first condition")

this is my first condition

In [10]:
if a == 11 :
    print("My name is Sunil")

As my condition is false, it is not printing anything

In [11]:
a = 10
if a > 5 :
    pass

If we don't want to do anything even if the condition is true, we can write pass. It works as a body and removed the indententation error.

In [13]:
a = 10
if a > 8 : 
    print("Print this is condition is true")

Print this is condition is true

As my condition is ture, it is printing.

In [14]:
a = 10
if a != 11:
    print("my condition is false")
else :
    print("Print this")

my condition is false

In [15]:
a = 10
if a == 11:
    print("my condition is false")
else :
    print("Print this")

Print this

Hence, in first my statement is true while in second my statement is false.

In [16]:
a = 10
if a == 12:
    print("here we are trying to compare 10 with 12.")
elif a == 11:
    print("here we are trying to compare 10 with 11.")
else :
    print("If all the blocks will fail then do this")

If all the blocks will fail then do this

In [17]:
a = 10
if a == 12:
    print("here we are trying to compare 10 with 12.")
elif a == 10:
    print("here we are trying to compare 10 with 10.")
else :
    print("If all the blocks will fail then do this")

here we are trying to compare 10 with 10.

In [19]:
price = 500
if price > 500:
    print("may be I won't be able to buy a jacket")
elif price < 500:
    print("I will be able to buy a jacket")

It is not giving an output price is not less or more than 500 but is equal to 500. Hence, we can use lesser than or equal to 500 operator to print the desired output.

In [20]:
price = 500
if price > 500:
    print("may be I won't be able to buy a jacket")
elif price <= 500:
    print("I will be able to buy a jacket")

I will be able to buy a jacket

Now it is giving the output.

In [21]:
price = 500
if price > 500:
    print("may be I won't be able to buy a jacket")
elif price < 500:
    print("I will be able to buy a jacket")
else price == 500:
    print("I don't know")

SyntaxError: invalid syntax (715817051.py, line 6)

It is giving error because we can't put condition with the else block.

However, we can write one more elif block to remove the above error.

In [22]:
#condition to check whether I can buy a jacket or not
price = 500
if price > 500:
    print("may be I won't be able to buy a jacket")
elif price < 500:
    print("I will be able to buy a jacket")
elif price == 500:
    print("I will surely be able to buy a jacket")
else :
    print("I don't know")

I will surely be able to buy a jacket

In [23]:
l = [1,2,3,4,5,6]
2 in l

True

In [24]:
if 2 in l :
    print("try to perform a task")
else :
    print("don't perform a task")

try to perform a task

Hence, if condition works only in case or true condition

In [26]:
if 60 in l :
    print("try to perform a task")
else :
    print("don't perform a task")

don't perform a task

Here, 60 is not in l. Hence it is false and it is printing the statement in else block.

In [27]:
if 1 in l :
    print("try to do an addition")
elif 2 in l:
    print("try to do subtraction")
elif 3 in l:
    print("try to do multiplication")

try to do an addition

Hence, we can see that if all the statements are true, then it will execute the very first condition and come out of the block.

In [28]:
if 1 in l :
    print("try to do an addition")
elif 2 in l:
    print("try to do subtraction")
elif 3 in l:
    print("try to do multiplication")
if 4 in l:
    print("this is a new statement")

try to do an addition
this is a new statement

Hence, if-elif is a single statement and if statement is another new block.

# Nested statement

In [29]:
a = 400

In [30]:
b = input()

400

input is an inbuilt function to take an input from the user. It assigns that value to the given variable. Bydefalut, it converts the data into a string format

In [31]:
b

'400'

In [32]:
type(b)

str

Hence, we won't be able to perform a numerical comparison.

Hence, we type cast the input in the following manner.

In [33]:
b = int(input())

400

In [34]:
b

400

In [35]:
type(b)

int

However, during the type casting the input into an integer, we must give an integer input or else it will give error.

In [36]:
b = int(input())

lajhsd54

ValueError: invalid literal for int() with base 10: 'lajhsd54'

In [37]:
type(b)

int

In [45]:
price = int(input())
if price < 500:
    print("I will be able to buy something")
    if price  < 400 :
        print("I will be able to buy a jacket")
    elif price < 300 :
        print("I will be able to buy a shirt")
    else :
        print("I won't be able to buy anything")
else :
    print("I won't be able to buy anything with this price tag")
    if price > 500:
        print("lets try to do something")

600
I won't be able to buy anything with this price tag
lets try to do something

Hence, we can keep writing nested statements but we must keep the indentation in check.

In [3]:
marks = int(input())
if marks < 600:
    print("No GRE")
    if marks < 500:
        print("TOEFL")
        if marks < 400:
            print("Try something else")
    else:
        print("You got TOEFL")
else:
    print("You got GRE Congratulations")

450
No GRE
TOEFL

In [10]:
val = float(input("Enter a floating poing number:"))
if val >= 0:
    if val == 0:
        print("Value is zero")
    else:
        print("Entered value is a positive number")
else:
    print("Entered number is a negative number")

Enter a floating poing number:-45
Entered number is a negative number

In [8]:
a = 10
if a < 10 or a == 10:
    print("try to do something")

try to do something

In [12]:
a = "sunil"
if a == "sunil" and a == "Sunil":
    print("This is Sunil")

In [14]:
a = 10
b = 11
c = 12
d = 13
if a == 9 or b == 11 and c == 12 and d == 13:
    print("lets do something")

lets do something

In [15]:
d = {'key1': "value", 'key2': "sunil", 'key3': "maha"}

In [16]:
d

{'key1': 'value', 'key2': 'sunil', 'key3': 'maha'}

In [20]:
if d['key1'] == "value" and d['key2'] == "sunil" and d['key3'] == "maha":
    print("All the value are verified and the values are mentioned below")
    print(d.values())
else:
    print("All the values are not verified")

All the value are verified and the values are mentioned below
dict_values(['value', 'sunil', 'maha'])