# Loops

In [8]:
l = [1,3,4,"sunil", 342, 3324, 23.4]

# For loop

In [9]:
for i in l:
    print(i)

1
3
4
sunil
342
3324
23.4

In [10]:
for i in l[-2:-5:-1]:
    print(i)

3324
342
sunil

In [11]:
for i in l[0:3]:
    print(i+1)

2
4
5

In [12]:
for i in l:
    print(i+1)

2
4
5

TypeError: can only concatenate str (not "int") to str

In [13]:
for i in l:
    if type(i) == int or type(i) == float:
        print(i+1)
    elif type(i) == str:
        print(i + str(1))

2
4
5
sunil1
343
3325
24.4

In [14]:
l

[1, 3, 4, 'sunil', 342, 3324, 23.4]

In [20]:
l1 = []
for i in l:
    if type(i) == int or type(i) == float:
        l1.append(i)
print(l1)

[1, 3, 4, 342, 3324, 23.4]

In [21]:
l1

[1, 3, 4, 342, 3324, 23.4]

In [1]:
l

NameError: name 'l' is not defined

In [2]:
l1

NameError: name 'l1' is not defined

In [3]:
l = [1,2,3,4,"sunil","maha", 45.58]

In [4]:
for i in l:
    print(i)

1
2
3
4
sunil
maha
45.58

In [6]:
for i in l:
    print (l)

[1, 2, 3, 4, 'sunil', 'maha', 45.58]
[1, 2, 3, 4, 'sunil', 'maha', 45.58]
[1, 2, 3, 4, 'sunil', 'maha', 45.58]
[1, 2, 3, 4, 'sunil', 'maha', 45.58]
[1, 2, 3, 4, 'sunil', 'maha', 45.58]
[1, 2, 3, 4, 'sunil', 'maha', 45.58]
[1, 2, 3, 4, 'sunil', 'maha', 45.58]

In [9]:
for i in l:

IndentationError: expected an indented block (1525633252.py, line 2)

In [10]:
for i in l:
    pass

If we are not going to mention a body part, we can ignore the error by using "pass".

In [16]:
type(i)

str

In [11]:
s = "sunil"

In [12]:
s

'sunil'

In [13]:
type(s)

str

In [14]:
for i in s:
    print(i)

s
u
n
i
l

In [15]:
type(i)

str

i is local variable.

In [20]:
print(l)
for i in l:
    print(i)
else :
    print("If for loop is going to complete itself then it will execute else")

[1, 2, 3, 4, 'sunil', 'maha', 45.58]
1
2
3
4
sunil
maha
45.58
If for loop is going to complete itself then it will execute else

We can use else in loops only in python.

In [21]:
print(l)
for i in l:
    if i == 4:
        break
    print(i)
else:
    print("this will execute only if for is going to complete itself")

[1, 2, 3, 4, 'sunil', 'maha', 45.58]
1
2
3

In [27]:
print(l)
for i in l:
    if type(i) != int and type(i) != float:
        break
    print(i)
else:
    print("this will execute only if for is going to complete itself")

[1, 2, 3, 4, 'sunil', 'maha', 45.58]
1
2
3
4

break is a reserverd variable in python to break out from the loop.

In [34]:
s = "maharana"
for a in s:
    if a == 'a':
        break
    print(a)
else:
    print("Printing string:", s)

m

In [35]:
s = "maharana"
for a in s:
    if a == 'z':
        break
    print(a)
else:
    print("Printing string:", s)

m
a
h
a
r
a
n
a
Printing string: maharana

In [36]:
t = (4,5,6,7,8,6,"sunil")
for i in t:
    print(i)

4
5
6
7
8
6
sunil

In [37]:
s1 = {4,5,6,6,7,4,3,3,3,5,6,7,4,"sunil"}

In [38]:
s1

{3, 4, 5, 6, 7, 'sunil'}

In [39]:
type(s1)

set

In [40]:
for i in s1:
    print(i)

3
4
5
6
7
sunil

Eventhough the data is arranged randomly in set, for loop can even extract data one by one from that also.

In [42]:
d = {'key1': "sunil", 'contact': "maharanasunil1843@gmail.com", 'position': "xyz"}

In [43]:
d

{'key1': 'sunil', 'contact': 'maharanasunil1843@gmail.com', 'position': 'xyz'}

In [46]:
for i in d:
    print(i)

key1
contact
position

Hence, in default, it is only extracting keys.

In [48]:
for i in d.values():
    print(i)

sunil
maharanasunil1843@gmail.com
xyz

In [52]:
for i in d:
    print(i, d[i])

key1 sunil
contact maharanasunil1843@gmail.com
position xyz

In [53]:
d['key1']

'sunil'

Hence, d[i] is extracting values.

Range is an inbulit function to generate data. In defalut, it generates data excluding the upper bound.

In [54]:
range(9)

range(0, 9)

In [55]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

We have enclosed it within a list to get the dataset instead an object.

In [56]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [59]:
#We can even mention upper and lower bound and step size in range.
list(range(4,20,2))

[4, 6, 8, 10, 12, 14, 16, 18]

In [60]:
list(range(4,20,-2))

[]

It is giving blank because of the scaling concept.

In [61]:
#Regular indexing functions can be done in range function to generate data as per the requirement.
list(range(20,4,-2))

[20, 18, 16, 14, 12, 10, 8, 6]

In [70]:
n = 4
for i in range(4):
    for j in range(0,i+1):
        print("sunil", end = " ")
    print("\n")

sunil

sunil sunil

sunil sunil sunil

sunil sunil sunil sunil

In [72]:
n = 3
for i in range(3):
    for j in range(0, i+1):
        print()
    print("\n")

SyntaxError: positional argument follows keyword argument (3955887332.py, line 4)

In [73]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [79]:
for i in range(6):
    print(i, end = " ")

0 1 2 3 4 5

In [75]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [76]:
range(6)

range(0, 6)

In [77]:
#range(6) returns object while list(rang(6)) returns a database.

In [80]:
t = (3,23,45,67,2,3,4,5,6)

In [81]:
for i in t:
    print(t.index(i), i)

0 3
1 23
2 45
3 67
4 2
0 3
6 4
7 5
8 6

In [83]:
for i in range(len(t)):
    print(i, t[i])

0 3
1 23
2 45
3 67
4 2
5 3
6 4
7 5
8 6

In [84]:
s = "maharana"

In [87]:
for i in range(len(s)):
    print(i, s[i])

0 m
1 a
2 h
3 a
4 r
5 a
6 n
7 a

In [98]:
list(range(len(s)-1, -1, -1))

[7, 6, 5, 4, 3, 2, 1, 0]

In [99]:
for i in range(len(s)-1, -1, -1):
    print(i, s[i])

7 a
6 n
5 a
4 r
3 a
2 h
1 a
0 m

In [100]:
d

{'key1': 'sunil', 'contact': 'maharanasunil1843@gmail.com', 'position': 'xyz'}

In [102]:
d.items()

dict_items([('key1', 'sunil'), ('contact', 'maharanasunil1843@gmail.com'), ('position', 'xyz')])

In [105]:
for i in d.items():
    print(i, type(i), type(i[0]), type(i[1]))

('key1', 'sunil') <class 'tuple'> <class 'str'> <class 'str'>
('contact', 'maharanasunil1843@gmail.com') <class 'tuple'> <class 'str'> <class 'str'>
('position', 'xyz') <class 'tuple'> <class 'str'> <class 'str'>

In [108]:
l = ["sunil", "maha", 24493, "maharanasunil1843", 345, 443747]
l1 = []

In [120]:
for i in l:
    if type(i) == int:
        l1.append(i)

In [121]:
l1

[24493,
 345,
 443747,
 24493,
 345,
 443747,
 24493,
 345,
 443747,
 24493,
 345,
 443747,
 24493,
 345,
 443747,
 24493,
 345,
 443747,
 24493,
 345,
 443747,
 24493,
 24493,
 345,
 443747]

In [127]:
d = {1 : 33235, 'name' : "sunil", "email_id": "mahasuni18", 234: "aljhr", "232": "sldjfh", 2232: "ljahdf"}

In [129]:
for i in d:
    if type(i) == int:
        print(i, ":", d[i])

1 : 33235
234 : aljhr
2232 : ljahdf

In [137]:
s = "aaaabbcccdd"
for i in set(s):
    print(i, ":", s.count(i))

a : 4
d : 2
c : 3
b : 2

In [136]:
s.count('a')

4

In [146]:
i = 34538475384746
for j in str(i):
    print(int(j), type(int(j)))

3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
3 <class 'int'>
8 <class 'int'>
4 <class 'int'>
7 <class 'int'>
5 <class 'int'>
3 <class 'int'>
8 <class 'int'>
4 <class 'int'>
7 <class 'int'>
4 <class 'int'>
6 <class 'int'>

In [144]:
str(i)

'34538475384746'

In [154]:
t = ("sunil", "maharana", [1,2,3,4,5], (3,4,5,6), {3: 3, 'key3': "maharana"})

In [155]:
t

('sunil',
 'maharana',
 [1, 2, 3, 4, 5],
 (3, 4, 5, 6),
 {3: 3, 'key3': 'maharana'})

In [157]:
for i in t:
    for j in i:
        if type(j) == int:
            if j == 3:
                print(j)

3
3
3

In [162]:
for i in t:
    if type(i) == list or type(i) == tuple:
        for j in i:
            if j == 3:
                print(j)
    if type(i) == dict:
        for k,v in i.items():
            if k == 3 or v == 3:
                print(k)
                print(v)

3
3
3
3

In [161]:
d.items()
#It is will provide list of tuples of key and value

dict_items([(1, 33235), ('name', 'sunil'), ('email_id', 'mahasuni18'), (234, 'aljhr'), ('232', 'sldjfh'), (2232, 'ljahdf')])

In [165]:
d = {4:5, 'key1': 'sunil', 'key2': 'maharana'}
d.items()

dict_items([(4, 5), ('key1', 'sunil'), ('key2', 'maharana')])

In [164]:
for i,j in d.items():

(4, 5)
('key1', 'sunil')
('key2', 'maharana')

In [ ]:
q1 :
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

q2 - 

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

q3 : Try to extract all the list entity 
q4 : Try to extract all the dict enteties
q5 : Try to extract all the tuples entities
q6 : Try to extract all the numerical data it may b a part of dict key and values 
q7 : Try to give summation of all the numeric data 
q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
q9 : Try to extract "ineruon" out of this data
q10 :Try to find out a number of occurances of all the data 
q11 : Try to find out number of keys in dict element
q12 : Try to filter out all the string data 
q13 : Try to Find  out alphanum in data
q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset 
q15 : Try to unwrape all the collection inside collection and create a flat list 
    
    
before 29th may 2022 3 PM IST you have to send an answer to me or to shivan 
sudhanshu@ineuron.ai
shivan@ineuron.ai

In [1]:
for i in range(4):
    for j in range(0, i+1):
        print("ineuron", end = " ")
    print("\n")

ineuron

ineuron ineuron

ineuron ineuron ineuron

ineuron ineuron ineuron ineuron

In [16]:
a = "ineuron"
for i in range(5):
    for j in range(0, i + 1):
        print("" * len(a), a, " " * len(a), end = "")
    print("\n")

 ineuron

 ineuron         ineuron

 ineuron         ineuron         ineuron

 ineuron         ineuron         ineuron         ineuron

 ineuron         ineuron         ineuron         ineuron         ineuron

In [11]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [12]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [25]:
for i in l:
    if type(i) == list:
        print(i)
    for j in i:
        if type(j) == list:
            print(j)

[1, 2, 3, 4]
['ineuron', 'data science ']

In [26]:
set([1,2,3,4,5])

{1, 2, 3, 4, 5}

In [14]:
for i in l:
    if type(i) == dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [15]:
for i in l:
    if type(i) == tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [62]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [63]:
for i in l:
    if type(i) == int:
        print(i)
    for j in i:
        if type(j) == int:
            print(j)
    if type(i) == dict:
        for j in i:
            if type(j) == int:
                print(j)
            if type(i[j]) == int:
                print(i[j])

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
3
7
3
6
7
8

In [64]:
l1 = []
for i in l:
    if type(i) == int:
        l1.append(i)
    for j in i:
        if type(j) == int:
            l1.append(j)
    if type(i) == dict:
        for j in i:
            if type(j) == int:
                l1.append(j)
            if type(i[j]) == int:
                l1.append(i[j])
print("List of all the integers is:", l1)

total = 0
for i in range(0, len(l1)):
    total = total + l1[i]
print("Sum of the total elements in the list is:", total)

l2 = []
for i in l1:
    if i%2 != 0:
        l2.append(i)
        
print("List of all the odd number in the list are:", l2)

List of all the integers is: [1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 7, 3, 6, 7, 8]
Sum of the total elements in the list is: 166
List of all the odd number in the list are: [1, 3, 3, 5, 3, 5, 7, 45, 5, 23, 3, 7, 3, 7]

In [51]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [61]:
for i in l:
    if i == "ineuron":
        print(i)
    elif type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if j == "ineuron":
                print(j)
    elif type(i) == dict:
        for j in i:
            if j == "ineuron":
                print(j)
            if i[j] == "ineuron":
                print(i[j])

ineuron
ineuron

In [69]:
l3 = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            l3.append(j)
    if type(i) == dict:
        for j in i:
            l3.append(j)
            l3.append(i[j])
print(l3)

for i in set(l3):
    print(i, ":", l3.count(i))

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'data science ']
1 : 1
2 : 2
3 : 4
4 : 4
5 : 3
6 : 3
7 : 2
sudh : 1
8 : 1
k2 : 1
ineuron : 2
45 : 1
k3 : 1
kumar : 1
23 : 1
k1 : 1
data science  : 1

In [70]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [75]:
l3 = []
for i in l:
    if type(i) == dict:
        for j in i:
            l3.append(j)
print(l3)
print("Total number of keys in the list is:", len(l3))

['k1', 'k2', 'k3', 3, 7]
Total number of keys in the list is: 5

In [76]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [78]:
l4 = []
for i in l:
    if type(i) == str:
        l4.append(i)
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == str:
                l4.append(j)
    if type(i) == dict:
        for j in i:
            if type(j) == str:
                l4.append(j)
            if type(i[j]) == str:
                l4.append(i[j])
print(l4)

['k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 'ineuron', 'data science ']

In [19]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science"]]

In [17]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data_science']]

In [22]:
l5 = []
for i in l:
    if type(i) == str:
        if i.isalnum():
            l5.append(i)
            
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == str:
                if j.isalnum():
                    l5.append(j)
                    #print(l5)
                    
    if type(i) == dict:
        for j in i:
            if type(j) == str:
                if j.isalnum():
                    l5.append(j)
            if type(i[j]) == str:
                if i[j].isalnum():
                    l5.append(i[j])
                    
print(l5)

['k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 'ineuron']

In [23]:
l5 = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            print(j)
            if type(j) == str:
                if j.isalnum():
                    l5.append(j)
print(l5)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
ineuron
data science
['ineuron']

# Ask Doubt

In [96]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [2]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science"]]
l3 = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            l3.append(j)
    if type(i) == dict:
        for j in i:
            l3.append(j)
            l3.append(i[j])
print(l3)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'data science']

In [5]:
mul = 1
for i in l3:
    if type(i) == int:
        mul = mul * i
        print(mul)
print(mul)

1
2
6
24
48
144
576
2880
17280
51840
207360
1036800
6220800
43545600
1959552000
7838208000
39191040000
901393920000
2704181760000
16225090560000
113575633920000
908605071360000
908605071360000

# Ask Doubt

In [25]:
rows = int(input("Enter the number of rows: "))  
  
# It is used to print the space  
k = 2 * rows - 2  
# Outer loop to print number of rows  
for i in range(0, rows):  
    # Inner loop is used to print number of space  
    for j in range(0, k):  
        print(end=" ")  
    # Decrement in k after each iteration  
    k = k - 1  
    # This inner loop is used to print stars  
    for j in range(0, i + 1):  
        print("* ", end="")  
    print("")  
  
#Downward triangle Pyramid  
# It

Enter the number of rows: 10
                  *
                 * *
                * * *
               * * * *
              * * * * *
             * * * * * *
            * * * * * * *
           * * * * * * * *
          * * * * * * * * *
         * * * * * * * * * *

In [38]:
rows = int(input("Enter the number of rows: "))  
  
# It is used to print the space  
k = 2 * rows - 2  
# Outer loop to print number of rows  
for i in range(0, rows):  
    # Inner loop is used to print number of space  
    for j in range(0, k):  
        print(end=" ")  
    # Decrement in k after each iteration  
    k = k - 1  
    # This inner loop is used to print stars  
    for j in range(0, i + 1):  
        print("* ", end="")  
    print("")  
  
#Downward triangle Pyramid  
# It

Enter the number of rows: 5
        *
       * *
      * * *
     * * * *
    * * * * *

In [30]:
h = eval(input("Enter diamond's height: "))

for x in range(h):
    print(" " * (h - x), "*" * (2*x + 1))
for x in range(h - 2, -1, -1):
    print(" " * (h - x), "*" * (2*x + 1))

Enter diamond's height: 5
      *
     ***
    *****
   *******
  *********
   *******
    *****
     ***
      *

In [2]:
a = int(input("Enter number of rows:"))
for i in range(a):
        print("* " * a)

Enter number of rows:5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [3]:
a = int(input("Enter number of rows:"))
for i in range(1, a+1):
    print("*" * i)

Enter number of rows:5
*
**
***
****
*****

In [10]:
a = int(input("Enter number of rows:"))
for i in range(1, a+1):
    print("" * (a-i) + "*" * i)
for i in range(a-1, 0, -1):
    print("" * (a-i) + "*" * i)

Enter number of rows:5
*
**
***
****
*****
****
***
**
*

In [20]:
a = int(input("Enter number of rows:"))
for i in range(1, a+1):
    print(" " * (a-i) + "*" * i)

Enter number of rows:5
    *
   **
  ***
 ****
*****

In [24]:
a = int(input("Enter number of rows:"))
for i in range(1, a+1):
    print("" * (a-i) + "*" * i)

Enter number of rows:5
*
**
***
****
*****

In [23]:
a = int(input("Enter a number"))

"""for i in range(1, a+1):
    print(" " * (a-i) + "* " * i)"""

for i in range(a, 0, -1):
    print(" " * (a-i) + "* " * i)

Enter a number5
* * * * *
 * * * *
  * * *
   * *
    *