In [1]:
a = "Sunil"

In [2]:
s

NameError: name 's' is not defined

In [3]:
a

'Sunil'

In [4]:
type(a)

str

In [5]:
a[1]

'u'

In [6]:
a[-4]

'u'

In [7]:
s = 'this is my very first programming class'

In [8]:
s

'this is my very first programming class'

In [9]:
type(s)

str

In [10]:
s[5]

'i'

In [11]:
s[4]

' '

In [12]:
s1 = 'Sunil's father is a well established man

SyntaxError: invalid syntax (149923504.py, line 1)

In [13]:
s1 = "Sunil's father is a well established man"

In [14]:
s1[1:5]

'unil'

In [15]:
 s1[1:10:2]

"ui' a"

In [16]:
s1[1:10:-1]

''

In [17]:
a[-1:-4:1]

''

In [18]:
 a[4:1]

''

In [19]:
a

'Sunil'

In [20]:
a[4:1:-1]

'lin'

In [21]:
a[4:0:-1]

'linu'

In [22]:
a[5:0:-1]

'linu'

In [23]:
a[5::-1]

'linuS'

In [24]:
a[:-4]

'S'

In [25]:
a[:-1]

'Suni'

In [26]:
a[-4:]

'unil'

In [27]:
a[::-1]

'linuS'

In [28]:
a1 = "Maharana"

In [29]:
a1

'Maharana'

In [30]:
type(a1)

str

In [31]:
a1[::-1]

'anarahaM'

In [32]:
a1[-2:-5:1]

''

In [33]:
a1[-2:-5:-1]

'nar'

In [34]:
a1[-5:-2:1]

'ara'

In [35]:
a1[-5:-2:-1]

''

In [36]:
a1[:3:-1]

'anar'

In [37]:
a1[:4:1]

'Maha'

In [38]:
a1[3:]

'arana'

In [39]:
a1[3::-1]

'ahaM'

In [40]:
a1 + 1

TypeError: can only concatenate str (not "int") to str

In [41]:
a1 + "1"

'Maharana1'

In [42]:
a1 + str( Sunil)

NameError: name 'Sunil' is not defined

In [43]:
a1 + str(Sunil)

NameError: name 'Sunil' is not defined

In [44]:
a2 = "Sunil"

In [45]:
a1 + a2

'MaharanaSunil'

In [46]:
len(a1)

8

In [47]:
len(a1)*2

16

In [48]:
a1.count('a')

4

Gives count of a inside string a1

In [49]:
a1.count('Ma')

1

As "Ma" is only mentioned once inside string a1, the count is only 1

In [50]:
a1.split('a')

['M', 'h', 'r', 'n', '']

a1.split('a') splits all the data after and before 'a' and makes a list. We can check the datatype of the above string.

In [51]:
type(a1.split('a'))

list

In [52]:
sw = "The Samsung Group[3] (or simply Samsung, stylized as SΛMSUNG) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the 8th highest global brand value.[4]"

In [53]:
sw

'The Samsung Group[3] (or simply Samsung, stylized as SΛMSUNG) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the 8th highest global brand value.[4]'

In [54]:
sw.split(' ')

['The',
 'Samsung',
 'Group[3]',
 '(or',
 'simply',
 'Samsung,',
 'stylized',
 'as',
 'SΛMSUNG)',
 '(Korean:',
 '삼성',
 '[samsʌŋ])',
 'is',
 'a',
 'South',
 'Korean',
 'multinational',
 'manufacturing',
 'conglomerate',
 'headquartered',
 'in',
 'Samsung',
 'Town,',
 'Seoul,',
 'South',
 'Korea.[1]',
 'It',
 'comprises',
 'numerous',
 'affiliated',
 'businesses,[1]',
 'most',
 'of',
 'them',
 'united',
 'under',
 'the',
 'Samsung',
 'brand,',
 'and',
 'is',
 'the',
 'largest',
 'South',
 'Korean',
 'chaebol',
 '(business',
 'conglomerate).',
 'As',
 'of',
 '2020,',
 'Samsung',
 'has',
 'the',
 '8th',
 'highest',
 'global',
 'brand',
 'value.[4]']

If we have multiline string, we can enclose it inside a triple double quote i.e., """Data""".

Triple double quote can also be used for commenting purpose.

In [55]:
sw.upper()

'THE SAMSUNG GROUP[3] (OR SIMPLY SAMSUNG, STYLIZED AS SΛMSUNG) (KOREAN: 삼성 [SAMSɅŊ]) IS A SOUTH KOREAN MULTINATIONAL MANUFACTURING CONGLOMERATE HEADQUARTERED IN SAMSUNG TOWN, SEOUL, SOUTH KOREA.[1] IT COMPRISES NUMEROUS AFFILIATED BUSINESSES,[1] MOST OF THEM UNITED UNDER THE SAMSUNG BRAND, AND IS THE LARGEST SOUTH KOREAN CHAEBOL (BUSINESS CONGLOMERATE). AS OF 2020, SAMSUNG HAS THE 8TH HIGHEST GLOBAL BRAND VALUE.[4]'

sw.upper() converts everything into uppercase.

But this doesn't change the original string. But it can also be done using an assignment.

In [56]:
sw = sw.upper()

In [57]:
sw

'THE SAMSUNG GROUP[3] (OR SIMPLY SAMSUNG, STYLIZED AS SΛMSUNG) (KOREAN: 삼성 [SAMSɅŊ]) IS A SOUTH KOREAN MULTINATIONAL MANUFACTURING CONGLOMERATE HEADQUARTERED IN SAMSUNG TOWN, SEOUL, SOUTH KOREA.[1] IT COMPRISES NUMEROUS AFFILIATED BUSINESSES,[1] MOST OF THEM UNITED UNDER THE SAMSUNG BRAND, AND IS THE LARGEST SOUTH KOREAN CHAEBOL (BUSINESS CONGLOMERATE). AS OF 2020, SAMSUNG HAS THE 8TH HIGHEST GLOBAL BRAND VALUE.[4]'

Hence, as we can see the data of string sw has been overwritten

In [58]:
a1

'Maharana'

In [59]:
a1.title()

'Maharana'

In [60]:
a1 = "maharana"

In [61]:
a1

'maharana'

In [62]:
a1.title()

'Maharana'

Hence, title docstring changes the first letter into an uppercase.

In [63]:
s1

"Sunil's father is a well established man"

In [64]:
s1.title()

"Sunil'S Father Is A Well Established Man"

In [65]:
s1.capitalize()

"Sunil's father is a well established man"

Hence, title changes first letter of each word into uppercase but capitalize only changes the first letter of string into an uppercase.

In [66]:
a1

'maharana'

In [67]:
a1 = "Maharana"

In [68]:
a1.swapcase()

'mAHARANA'

Hence, swapcase() docstring swaps upper into lower case and vise versa.

In [69]:
a1 = "   Mahara   na   "

In [70]:
a1

'   Mahara   na   '

In [71]:
a1.strip()

'Mahara   na'

Hence, strip docstring removes the blank space from left and right side.

In [72]:
a1.rstrip()

'   Mahara   na'

Removes space from right side.

In [73]:
a1.lstrip()

'Mahara   na   '

Removes space from left side.

In [74]:
"s".join("Maharana")

'Msashsasrsasnsa'

Adds s with each character of the given string.

In [78]:
" ".join("Sunil")

'S u n i l'

Hence, space has been added in between each character of the string "Sunil".

In [75]:
a1

'   Mahara   na   '

In [76]:
a1 = "Maharana"

In [77]:
a1

'Maharana'

In [79]:
a1.center(20)

'      Maharana      '

In [80]:
a1.center(20, "z")

'zzzzzzMaharanazzzzzz'

In [81]:
a1.center(15, %)

SyntaxError: invalid syntax (3142574078.py, line 1)

In [82]:
a1.center(15, "%")

'%%%%Maharana%%%'

In [83]:
a1.isupper()

False

All the docstring of 'is' is used to check the true and false i.e., give output as a boolean value.

In [84]:
a1.islower

In [85]:
a1.islower()

False

In [86]:
a1 = "sunil"

In [87]:
a1

'sunil'

In [88]:
a1.islower()

True

In [89]:
a1.isspace()

False

False beacse it is not a space string.

In [90]:
a1 = "Sun il"

In [91]:
a1

'Sun il'

In [92]:
a1.isspace()

False

In [93]:
a1 = " "

In [94]:
a1.isspace()

True

In [95]:
a3 = "Sunil"

In [96]:
a3.startswith('s')

False

In [97]:
a3.startswith('S')

True

In [98]:
a3.endswith('L')

False

In [99]:
a3.endswith('l')

True

In [100]:
a3.isdigit()

False

In [101]:
a3.isalpha()

True

In [105]:
a4 = "this is My First Python programming class and i am learNING python strong and its function"

In [106]:
a4[1:300:3]

'h   r tnrrmglsnimeNGyoso dtfco'

In [107]:
a4.upper()

'THIS IS MY FIRST PYTHON PROGRAMMING CLASS AND I AM LEARNING PYTHON STRONG AND ITS FUNCTION'

In [108]:
a4 = a4.upper()

In [109]:
a4.split()

['THIS',
 'IS',
 'MY',
 'FIRST',
 'PYTHON',
 'PROGRAMMING',
 'CLASS',
 'AND',
 'I',
 'AM',
 'LEARNING',
 'PYTHON',
 'STRONG',
 'AND',
 'ITS',
 'FUNCTION']

In [110]:
a4

'THIS IS MY FIRST PYTHON PROGRAMMING CLASS AND I AM LEARNING PYTHON STRONG AND ITS FUNCTION'

In [111]:
a4.lower()

'this is my first python programming class and i am learning python strong and its function'

In [112]:
a4.capitalize()

'This is my first python programming class and i am learning python strong and its function'

Defination:
isalnum(): It is a docstring of string variable used to check whether the string is alpha-numeric or not. This returns a boolean value. It returns true if all the character is alphabet or numeric and should have atleast one character or else returns false.
isalpha(): It is a docstring of string variable used to check whether the string characters are alphabet or not. This returns a boolean value. It returns true if all the characters in a string is alphabet or else it returns false.

"Tab" key is used after writing the string name with suffix ".". This shows all the inbuilt functions available for a string variable.

In [113]:
a4.strip()

'THIS IS MY FIRST PYTHON PROGRAMMING CLASS AND I AM LEARNING PYTHON STRONG AND ITS FUNCTION'

In [114]:
a4.lstrip()

'THIS IS MY FIRST PYTHON PROGRAMMING CLASS AND I AM LEARNING PYTHON STRONG AND ITS FUNCTION'

In [115]:
a4.rstrip()

'THIS IS MY FIRST PYTHON PROGRAMMING CLASS AND I AM LEARNING PYTHON STRONG AND ITS FUNCTION'

The strip docstring removes the space from the right and left side of the string.
However, the lstrip and rstrip removes the space from left and right side of the string respectively.

In [117]:
a5 = "Sunil"

In [118]:
a5[0]

'S'

In [119]:
a5[0] = "M"

TypeError: 'str' object does not support item assignment

In [120]:
a5 = txt.replace("Su", "Ma")

NameError: name 'txt' is not defined

In [121]:
a5.center(10, "4")

'44Sunil444'

In [122]:
a5.center(11, "%")

'%%%Sunil%%%'

center() is a docstring of string variable which keeps the string at center of the length specified and fills the left and right of the string with the given characters.

Both compiler and interpretor have one thing is common i.e., both converts high level language into machine language. They convert the code written in us in our language to 0s and 1s so that a machine can understand and perform the task upon it as requested.
However, there is a difference in between the working of compiler and interpreter.
A compiler converts the whole source code into machine code all at once while an interpretor converts a source code in a sentence wise manner.
Hence, a compiler analyzing time is less but overall execution is more compared to an interpreter and an interpreter's analyzing time is more but overall execution time is more as compared to a compiler.
Languages like Python, Java uses interpretor while C, C++, Javascript uses compiler.

As mentioned above Python is an interpreted language as it analyze the code sentense wise and goes for execution only after all the sentences is okay as per the required syntax.

Few usecases of Python are Data Science, Web Development, Internet of Things, Deep Learning, Machine Learning, Artificial Intelligence, Development Operations and many more.